---
import Panel from "@/components/ds/Panel.astro";
import EditorDraftLayout from "@/layouts/EditorDraftLayout.astro";
import { listSortedSpecs } from "@/utils/load";
import { type EntryWithConfig } from "@openuji/speculator";

const specs = await listSortedSpecs();
---

<EditorDraftLayout title="Editor's Draft Modules">
  <h1>Editor's Draft (ED)</h1>
  <section class="grid">
    <Panel variant="contrast">
      <p>
        The ED workspace captures the newest ideas, examples, and proposals.
        Documents can change at any time. You can use it for:
      </p>
      <ul>
        <li>Track upcoming changes while implementing.</li>
        <li>Participate in discussions and contribute.</li>
        <li>Prototype the newest journey patterns.</li>
      </ul>
    </Panel>
  </section>

  <div class="ed-modules">
    {
      specs.entries.map((spec: EntryWithConfig) => (
        <a href={`/ed/${spec.config.id}`} class="ed-module-card">
          <h3>{spec.config.id}</h3>
          <span class="tag">View Spec →</span>
        </a>
      ))
    }
  </div>
</EditorDraftLayout>
