---
import type { TocEntry } from "./ui/Toc";
import { MobilePanel } from "./ui/MobilePanel";

interface Props {
  toc?: TocEntry[];
  breadcrumb?: { title: string; href?: string }[];
}

const { breadcrumb = [] } = Astro.props;
---

<header
  class="bg-panel backdrop-blur-md sticky top-0 z-header border-b border-border"
>
  <div class="h-header px-lg flex items-center justify-between">
    <div class="flex sm:hidden">
      <MobilePanel client:load />
    </div>
    <div class="flex items-center justify-between gap-2">
      <a href="/" class="flex">
        <span class="text-primary font-bold">UJG</span>
      </a>
      {
        breadcrumb.map((item) => (
          <>
            <span class="text-secondary-foreground">/</span>
            {item.href ? (
              <a
                href={item.href}
                class="text-primary font-bold  hover:text-accent transition-colors duration-200"
              >
                {item.title}
              </a>
            ) : (
              <span class="text-secondary-foreground">{item.title}</span>
            )}
          </>
        ))
      }
    </div>
    <nav class="hidden sm:flex">
      <a
        href="https://github.com/openuji/spec-ujg/tree/main/specs/ed"
        class="text-secondary-foreground hover:text-accent transition-colors duration-200 text-sm"
        >GitHub</a
      >
    </nav>
  </div>
</header>
