---
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/astro/Header.astro";

interface Props {
  title?: string;
}
const { title = "Editor's Draft - UJG Specs" } = Astro.props;
---

<BaseLayout title={title}>
  <Header title={title} />
  <div class="ed-overview page">
    <slot />
  </div>
</BaseLayout>
