---
import Layout3 from "../drafts/Layout.v3.astro";
import LayoutB1 from "../drafts/Layout.b.v1.astro";
import LayoutB2 from "../drafts/Layout.b.v2.astro";
import LayoutB3 from "../drafts/Layout.b.v3.astro";
import LayoutB4 from "../drafts/Layout.b.v4.astro";
import LayoutED1 from "../drafts/Layout.ED.v1.astro";
import LayoutED2 from "../drafts/Layout.ED.v2.astro";
import LayoutED3 from "../drafts/Layout.ED.v3.astro";
import LayoutED4 from "../drafts/Layout.ED.v4.astro";
---

<!-- <Layout3 /> --><!-- <LayoutB1 /> --><!-- <LayoutB2 /> --><!-- <LayoutB3 /> --><!-- <LayoutB4 /> --><!-- <LayoutED1 /> --><!-- <LayoutED2 /> --><!-- <LayoutED3 /> --><!-- <LayoutED4 /> --><!-- <Layout3 /> -->
<html>
    <head>
        <title>Layout</title>
    </head>
    <body>
        <slot />
    </body>
</html>
